.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 10px;
}

// mat table
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
