<div class="container">
  <div class="button--container">
    <button mat-raised-button color="primary">Add Reminder</button>
    <button mat-raised-button color="accent" (click)="onSignOut()">
      Sign Out
    </button>
  </div>
  <div class="bday-list--container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        ['Name', 'Birthday', 'Likes', 'fruit']
        <!-- ID Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="Birthday">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Birthday</th>
          <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Likes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Likes</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="fruit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Update/Delete
          </th>
          <td mat-cell *matCellDef="let row">
            <div *ngFor="let bdayItens; of user?.bdaylist;let index">hola</div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
